/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'samanata';
  src: url("../fonts/samanata.ttf") format("truetype"); }
@font-face {
  font-family: 'kalimati';
  src: url("../fonts/kalimati.ttf") format("truetype"); }
@font-face {
  font-family: 'gargi';
  src: url("../fonts/gargi.ttf") format("truetype"); }
@font-face {
  font-family: 'cdac';
  src: url("../fonts/cdac.ttf") format("truetype"); }
header {
  padding: 2em;
  background-color: #3299bb;
  position: fixed;
  top: 0;
  width: 100%;
  float: left; }
  header h1, header nav {
    display: inline-block;
    vertical-align: baseline; }
  header h1 {
    font-size: 3em;
    color: #404040;
    margin-right: -4px; }
  header nav {
    margin-left: 2em; }
    header nav ul li {
      display: inline-block;
      float: left;
      margin: 0 1.5em; }
      header nav ul li a {
        text-decoration: none;
        text-align: center;
        color: #efefef;
        font-size: 1.5em; }
        header nav ul li a:hover {
          opacity: 0.75; }

body {
  background: #f1f9fb;
  font-size: 15px;
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif; }

div.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em; }
  div.container:after {
    content: "";
    display: table;
    clear: both; }

.anchor {
  width: 100%;
  display: block;
  height: 112px;
  /* this is the height of your header */
  visibility: hidden; }

section {
  min-height: 800px;
  margin-top: 1em; }
  section > h1 {
    font-size: 2em;
    margin: 1em 0; }
  section p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 0.5em; }

.usage-left-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .usage-left-col:last-child {
    margin-right: 0; }

.usage-right-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .usage-right-col:last-child {
    margin-right: 0; }

.panel {
  border: 1px solid #1a1a1a;
  border-radius: 6px;
  margin-bottom: 1em; }
  .panel .header {
    width: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom: 1px solid #1a1a1a;
    background: #e6e6e6;
    padding: 1em; }
    .panel .header h1 {
      font-size: 1.2em; }
  .panel .body {
    background: #fff;
    padding: 1em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px; }
    .panel .body .row {
      width: 100%;
      margin-bottom: 1em; }
      .panel .body .row:last-child {
        margin-bottom: 0; }
      .panel .body .row input[type='text'], .panel .body .row textarea {
        font-family: "kalimati";
        font-size: 1.5em;
        padding: 0.25em 0.5em;
        width: 100%; }
      .panel .body .row textarea {
        resize: none; }

#textBox {
  padding: 5px;
  font-size: 3em;
  font-family: "cdac"; }
