header{

  padding:2em;
  background-color: $header-bg;
  position:fixed;
  top:0;
  width:100%;
  float:left;

  @media screen and (max-width: 720px) {
    padding:0.75em;
  }

  h1, nav{
    display:inline-block;
    vertical-align:baseline;
  }

  h1{
    font-size:3em;
    color: lighten( black, 25% );
    margin-right:-4px;
    @media screen and (max-width: 720px) {
      display:none;
    }
  }

  nav{

      margin-left:2em;
      @media screen and (max-width: 720px) {
        margin-left:0.25em;
      }

    ul{

      li{

        display:inline-block;
        float:left;
        margin: 0 1.5em;

        @media screen and (max-width: 720px) {
          margin: 0 0.5em;
        }



        a{

            text-decoration:none;
            text-align:center;
            color: $nav-links-color;
            font-size: $nav-links-fs;

            &:hover{
                opacity:0.75;
            }

            @media screen and (max-width: 720px) {
              font-size:1em;
            }

        }

      }

    }

  }

}
