@import '_reset.scss';

@import '../bourbon/_bourbon.scss';
@import '../neat/_neat.scss';

@import '_variables.scss';
@import '_mixins.scss';

@import '_header.scss';

body{
  background: $body-bg;
  font-size: 15px;
  font-family: $lucida-grande;
}



div.container {

  @include outer-container;

  padding:0 1em;
}


.anchor{

  width:100%;
  display:block;
  height:112px; /* this is the height of your header */
  //margin-top:-112px; /* this is again negative value of the height of your header */
  visibility:hidden;

}
section{

  //min-height:800px;
  margin-top:1em;

    > h1{
      font-size:2em;
      margin:1em 0;
    }

    p{
      font-size:1.1em;
      line-height:1.4em;
      margin-bottom:0.5em;
    }

}




.panel{

  border: $panel-border;
  border-radius:6px;
  margin-bottom:1em;

  .inner{
    border-radius:0;
    border:0;

  }

  .header{

    width:100%;

    border-top-right-radius:6px;
    border-top-left-radius:6px;
    border-bottom: $panel-border;

    background: lighten( grey, 40% );
    padding: 1em;
    h1{
      font-size:1.2em;
      
    }
    &.inner{
      border-top:$panel-border;
      border-top-right-radius:0;
      border-top-left-radius:0;
    }
  }


  .usage-code-wrp{
    background:#B9DDD4;
    box-shadow: inset 0 0 10px #000000;
    padding:1em;
    line-height:1.5em;
    font-family: Menlo, Monaco, monospace;
    font-size:1.2em;

    .string{
      color:orange;
    }

    .boolean{
      color:blue;
    }
  }


  .body{

    background: #fff;
    padding: 1em;

    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;



    .row{

      width:100%;
      margin-bottom:1em;

      &:last-child{
        margin-bottom:0;
      }

      input[type='text'], textarea{
        font-family:$kalimati;
        font-size:2.5em;
        padding: 0.25em 0.5em;
        width:100%;
      }

      textarea{
        resize: none;
      }

      span{
        width:33.33333%;
        display:inline-block;
        margin-right:-4px;
        vertical-align:baseline;
        font-size:1.25em;
        text-align:center;

        &.heading{
          text-decoration:underline;
          font-weight:bold;
        }
        &.hindi{
          //font-family:$kalimati;
          font-size:2em;
        }

      }

    }
  }
}


#textBox{
  padding:5px;
  font-size:3em;
  font-family: $cdac;
}
