.demo{

  @include row;

  .panel-options{

    .row label{
      width:60% !important;
    }

  }

  .panel-body{



    input[type='text'], textarea{
      width:100%;
      font-size: em(32);
      font-family: $ek-mukta;
      &.hidden{
        @extend %visuallyhidden;
      }
    }

    textarea{
      resize:none;
      height: em(200, 24);
    }
    background: palette(grey, light);
    padding: em(16, 24);

  }

}
