.panel {

  @include font-classes;
  @include font-weights;

  border: $panel--border;
  border-top-right-radius: $panel--border-radius-outer;
  border-top-left-radius: $panel--border-radius-outer;
  border-bottom-right-radius: $panel--border-radius-outer;
  border-bottom-left-radius: $panel--border-radius-outer;

  .hidden {
    display:none;
  }

  .panel-heading {

    border-top-right-radius: $panel--border-radius-inner;
    border-top-left-radius: $panel--border-radius-inner;
    background-clip: border-box;
    background: $panel-heading--bg-color;
    position:relative;
    padding: em($panel-heading--padding);
    color: $white;

    .panel-actions {
      position:absolute;
      top: 18px;
      right: 18px;

      a{
        color: $white;
        &:not(:last-child){
          margin-right:em(16);
        }
      }
    }

  }

  .panel-options {

    font-size: em(14);
    padding: em(16, 14);
    border-top:$panel--border;
    border-bottom:$panel--border;
    background: lighten($panel-heading--bg-color, 22%);

    .group {

      &:not(:first-child){
        margin-top: em(24);
      }

      h4 {

        text-decoration:underline;
        font-weight: $font-weight--light;
        margin-bottom: em(8);
      }

      .row{

        @include mq(em($tablet-large)) {

          display:inline-block;
          margin-right: -4px;
          vertical-align:middle;
          margin-bottom:0;
          width:33.333%;

          &:not(:first-of-type) {
            padding-left: em(16);
          }

          &.checkboxes label{
            width:auto !important;
          }

          &.checkboxes input[type='checkbox']{
            margin-left: em(16);
          }

        }


        width:100%;
        margin-bottom: em(16,14);



        &.checkboxes input[type='checkbox']{
          vertical-align: middle;
        }
        &.checkboxes label{
          width:60%;
        }

        label{

          @include mq(em($tablet-large)){
            width:20%;
          }

          width:30%;
          vertical-align:middle;
          display:inline-block;
          margin-right:-4px;

        }

        select,
        input[type='text'] {

          @include mq(em($tablet-large)){
            width:80%;
          }

          display:inline-block;
          margin-right:-4px;
          vertical-align:middle;
          width:70%;
          padding:em(2,14) em(2,14);
        }

        &:last-child{
          margin-bottom:0;
        }

      }

    }

  }

  .panel-body{
    background:lighten(grey, 40%);
    min-height:em(160);
    padding: em(16);
    border-bottom-right-radius: $panel--border-radius-inner;
    border-bottom-left-radius: $panel--border-radius-inner;

    .row{
      &:not(:last-of-type){
        margin-bottom:em(16);
      }
    }

    input[type='text'],
    textarea{
      font-size: em(32);
      width:100%;
      padding:em(8, 32) em(16, 32);

    }

    textarea {
      resize: none;
      height:em(160);
    }
  }


}
